<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css"/>
    <title>Pokedex</title>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="nav" class="hidden"/>
      <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
      <div class="nav-container">
        <a href="/"><img src="/img/ICON.png" alt=""></a>
        <ul>
          
          <li><a href="/detalhes/">CADASTRAR</a></li>
          <li><a href="/#cards">POKEMON</a></li>
          <li><a href="/curiosidade">CURIOSIDADE</a></li>
          <li><a href="/musicas">MÚSICAS</a></li>
        </ul>
      </div>
    </nav>

    <main>
<section id="cadastro">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus optio cupiditate totam consequatur, quibusdam culpa, sit enim vitae ab quaerat, sint dolorem magnam architecto at laborum exercitationem. Repellat dolorem, facere placeat, dignissimos quae odio sequi iusto error molestiae eveniet doloribus perspiciatis itaque? Esse in unde laudantium expedita doloremque inventore quis.</p>
<img src="/img/fundo.jpg" alt="">
<img src="" alt="">

  </section>
    </main>
  <footer id="rodape">
    <div id="linkB">
      <a class="linkedin" href="https://www.linkedin.com/in/kellbber-barcarolo-71a848230/ " target="_blank"> Kellbber Barcarolo </a>
    </div>
    <div id="p">
    <p>
      - Todos os direitos reservados &copy;
      </p>
    </div>
</footer>
  </body>