@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  scroll-behavior: smooth;
  outline: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
nav {
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
nav ul {
  float: right;
}
nav img{
  display: flex;
  width: 5%;
  justify-content: flex-start;
  align-self: center;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: #a10505;
  text-decoration: none;
}
@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #161414;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: rgb(253, 253, 253);
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #f10101;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}
main{
  width: 100%;
  display: flex;
  padding:5% 10% 10% 10%;

}

main h1{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #fff;
}
#cards h1{
  width: 100%;
}
#cards{
  display: flex;
  background-color: rgb(61, 53, 53);
  border-radius: 20px;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

}
.card{
  background-color: #fff;
  border: solid 5px rgb(0, 0, 0);
  border-radius: 10%;
  width: 200px;
  height: 350px;
  margin: 15px 30px 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: .5s ease-in-out;
}

.card h3{
  text-align: center;
}
.card p{
  text-align: center;
}
.card img{

  align-items: center;
  width: 40%;
}
#editar{
  text-decoration: none;
  color: rgb(251, 251, 251);
  background-color: rgb(11, 126, 59);
  font-size: 1rem;
  font-weight: 800;
  width: 50%;
  text-align: center;
  margin-top: 1rem;
  border: solid 3px rgb(56, 56, 158);
  
}
#editar:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(11, 126, 59);
  font-size: 1rem;
  font-weight: 800;
  border: solid 3px rgb(56, 56, 158);
}
#deletar{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  font-size: 1rem;
  font-weight: 800;
  width: 50%;
  text-align: center;
  margin-top: 1rem;
  border: solid 3px rgb(56, 56, 158);
  margin-bottom: 1rem;
}
#deletar:hover{
  background-color: rgb(253, 253, 253);
  color: rgb(255, 0, 0);
  font-size: 1rem;
  font-weight: 800;
  border: solid 3px rgb(56, 56, 158);
}